Repository williscool/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: go, swift, dart, haskell, pony, clojure, python, rust, csharp, java, fsharp, php, crystal, elixir, scala, kotlin, nim, perl, c, cpp, ruby, julia, javascript

go:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: atreugo
    commands:
    - cache restore docker-cache
  ...

swift:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: perfect
    commands:
    - cache restore docker-cache
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: start
    commands:
    - cache restore docker-cache
  ...

haskell:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: servant
    commands:
    - cache restore docker-cache
  ...

pony:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: jennet
    commands:
    - cache restore docker-cache
  ...

clojure:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: coast
    commands:
    - cache restore docker-cache
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: bottle
    commands:
    - cache restore docker-cache
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: CLEAN
    value: 'off'
  - name: COLLECT
    value: 'off'
  jobs:
  - name: actix
    commands:
    - cache restore docker-cache
  ...

feat(ci): Use docker cache feature
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Remove unused command
  .spec/spec_helper.rb
Due: none

fix(ci): Delete cache after docker load
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(javascript): Trailing commas required for typescript
  javascript/nestjs-fastify/src/app.ts
Due: javascript

chore(javascript): Avoid jshint warning about require
  .jshintrc
Due: none

chore: Disable luacheck
  .luacheckrc
Due: none

fix(rust): Wrong binary path
  rust/Dockerfile
Due: rust

chore: Empty commit to check docker layer cache in action
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(fsharp): Update environments at runtime
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

chore(javascript): Avoid jshint warning from console / process
  .jshintrc
Due: none

fix(nim): Missing tag on docker image
  nim/Dockerfile
Due: nim

fix(rails): Wrong reformated routes
  ruby/rails/config/routes.rb
Due: ruby

chore(scala): Increase docker pause
  scala/config.yaml
Due: scala

fix(ci): Force cache upload
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Lint files
  .rubocop.yml
  Rakefile
Due: none

fix(ci): Use a dynamic cache key
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Rebase
  java/blade/src/main/java/com/example/Application.java
  python/.config/gunicorn.py
Due: python, java

chore(javascript): Use es 10
  .jshintrc
Due: none

chore: Avoid luacheck warning for wrk
  .luacheckrc
Due: none

chore: Remove unused file
  javascript/turbo_polka/config/.gitignore
Due: javascript

Path conditions:
  go: any of: go/
  swift: any of: swift/
  dart: any of: dart/
  haskell: any of: haskell/
  pony: any of: pony/
  clojure: any of: clojure/
  python: any of: python/
  rust: any of: rust/
  csharp: any of: csharp/
  java: any of: java/
  fsharp: any of: fsharp/
  php: any of: php/
  crystal: any of: crystal/
  elixir: any of: elixir/
  scala: any of: scala/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  c: any of: c/
  cpp: any of: cpp/
  ruby: any of: ruby/
  julia: any of: julia/
  javascript: any of: javascript/
